section.menu.title {
  position: absolute;
  top: 1%;
  right: 1%;
  z-index: 2;
  justify-content: flex-start;
  align-items: flex-end;
}

.navigation {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.navButton {
  width:100%;
  font-size: 1.5em;
  line-height: 1;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  margin: auto;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.navButton .navIcon {
  display: flex;
  height: 2.3vh;
  width: 2.3vh;
}

.navIcon img {
  max-width: 100%;
  max-height: 100%;
 }

.navButton .navText {
  line-height: 2.3vh;
  white-space: break-spaces;
}

@media only screen and (min-width: 768px) {
  .navButton .navIcon {
    height: 3.5vh;
    width: 3.5vh;
  }
  .navButton .navText {
    line-height: 3.5vh;
  }
}

@media (hover: hover) {

  .navButton:hover .navText{
    color: #a2a2e9;
    transition: color 0.3s;
  }
}

.navIcon.home.one,
.navIcon.home.two{
  position: absolute
}

.navIcon.home.three{
  transform: rotate(90deg)
}

.concentrate .navIcon.home.one{
  transform: translateY(207%) translateX(-5%) rotate(-45deg);
}

.concentrate .navIcon.home.two{
  transform: translateY(242%) translateX(-5%) rotate(-45deg);
}

.concentrate .navIcon.home.three{
  transform: translateY(277%) translateX(-5%) rotate(-45deg);
}

.concentrate .navIcon.about{
  transform: translateY(-23%);
}

.concentrate .navIcon.projects{
  transform: translateY(-43%);
}

.concentrate .navIcon.contact{
  transform: translateX(-100%) translateY(-320%);
}

.concentrate .navText {
  opacity: 0;
  transition: opacity 0.5s;
}

.deploy .navText{
  opacity: 1;
  transition: opacity 0.2s;
}

.concentrate .navIcon.home,
.concentrate .navIcon.about,
.concentrate .navIcon.projects,
.concentrate .navIcon.contact
{
  transition: transform 1s
}

.deploy .navIcon.home,
.deploy .navIcon.about,
.deploy .navIcon.projects,
.deploy .navIcon.contact
{
  transition: transform 0.2s
}
