.home-page {
  width: 100vw;
  height: 100%;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
  transition: opacity 3s
}

.home-page section.text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.home-page h4.text {
  text-align: center;
}


/* LoadingAnim */
.home-page .cubeContainer {
  transform-origin: top left;
  opacity: 1;
  transform: scale(0.5);
  top: 0;
  left: 1vw;
  width: 55vw;
  height: 25%;
  z-index: 3;
  transition: opacity 0.3s;
  margin: 0
}

.home-page .cubeContainer:hover {
  opacity: 0.3;
  transition: opacity 0.3s;
  cursor: help;
}

.home-page .cube {
  top: 5vh;
  left: 5vh;
}

.home-page .cubeMover {
  animation: upDown 2s alternate infinite ease-in-out;
  position: absolute;
}

@keyframes upDown {
  to {
    transform: translateY(8vh);
  }
}

.home-page .hole {
  top: 8vh;
  left: 5vh;
}


.home-page .cursor {
  top: 4.6vh;
  left: 5.3vh;
}

.instruction {
  position: absolute;
  top: 1vh;
  left: 2vw;
  width: 25vw;
  height: 10%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.instruction p {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.107);
  border-radius: 1vh;
  padding: 0.5vh;
}

@media only screen and (min-width: 768px) {
  .home-page .cubeContainer {
    transform: scale(0.8);
    width: 35vw;
    height: 20%;
  }

  .home-page .cubeContainer:hover {
    opacity: 1;
  }

  .instruction {
    top: 3vh;
    left: max(6.5vw, 12vh);
    width: 20vw;
    height: 15%;
  }

  .instruction p {
    text-align: left;
  }
}

.instruction.hideInstuction {
  opacity: 0;
  transition: opacity 0.3s
}

.instruction.showInstuction {
  opacity: 1;
  transition: opacity 0.3s
}