.project-page {
  width: 100vw;
  height: 100%;
  color: var(--dark-color);
}

.project-page h4 {
  font-weight: 600;
}

.project-page p {
  font-weight: 400;
  text-shadow: -0.015em 0.015em rgba(255, 255, 255, 0.475);
}

.project-page .line:before {
  background: var(--dark-color)
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
  transition: opacity 3s
}


/* TITLE SECTION ANIMATION */
.project-page section.title {
  align-items: flex-start;
  transform-origin: top left;
  transition: transform 0.3s;
}

.project-page section.title.huge {
  transform-origin: top left;
  transform: translateX(50vw);
  transition: transform 0.3s;
}

.project-page .title h1 {
  transform-origin: top left;
  transition: transform 0.3s;
  border: none !important;
}

.project-page .title button {
  margin-left: 0.5vw;
}

.huge.title h1,
.huge.title button {
  transform-origin: top left;
  text-align: left;
  transform: translateX(calc(-50% - 2vw));
  transition: transform 0.3s scale 0.3s;
  margin-left: 0;
}

.project-page section.project-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.line.under.huge {
  transform-origin: center center;
  transform: translateY(calc(7.5vh*1.5));
  transition: transform 0.3s;
}

.project-page section.main {
  align-items: flex-start;
}

div.categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: calc(12px + 2vw);
  align-items: flex-start;
  transform-origin: top left;
  transition: transform 0.3s;
  width: 50vw;
}

div.categories.huge {
  transform-origin: top left;
  transform: scale(2) translateX(23vw);
  transition: transform 0.3s;
  width: calc(100vw / 4);
  z-index: 5;
}

.categories h4 {
  font-family: 'Quicksand', sans-serif !important;
  font-weight: 600 !important;
  white-space: nowrap;
}

.huge.categories h4 {
  transform-origin: top left;
  transform: translateX(calc(-50%));
  transition: transform 0.3s border 5s;
}

@media only screen and (min-width: 768px) {
  .project-page .title h1 {
    transform-origin: top left;
    transform: scale(0.75) ;
    transition: transform 0.3s;
    border: none !important;
  }
  .huge.title h1 {
    transform: scale(1) translateX(calc(-50% - 2vw));
    transition: transform 0.3s;
  }

  .project-page section.project-menu {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 60vh;
    width: 25vw;
    padding-top: inherit;
    padding-bottom: inherit;
  }

  .project-page section.project-menu.huge {
    width: 19vw;
  }

  .project-page section.main {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0;
  }

  .project-page .line {
    position: absolute;
    width: 96vw;
    left: 2vw;
  }

  .project-page .line.under {
    bottom: 50%;
    left: calc(23vw - 48vh);
    width: 96vh;
    height: 0;
    transform: rotate(90deg);
  }

  .project-page .huge.line.under {
    position: absolute;
    bottom: auto;
    left: auto;
    width: 98%;
    transform: rotate(0deg) translateX(1vw) translateY(calc(20vh*2.5));
  }

  div.categories {
    padding-top: calc(8px + 1.5vw);
    width: 100%;
  }

  div.categories.huge {
    transform: scale(2) translateX(24vw);
  }
}


/* PROJECTS THUMBNAILS */
.projects-thumbnails {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 90%;
  font-family: 'Quicksand', sans-serif !important;
}

@media only screen and (min-width: 768px) {
  .projects-thumbnails {
    padding-top: calc(6px + 1vw);
    padding-left: calc(6px + 1vw);
    height: auto;
  }
}

.projects-thumbnails.hide {
  opacity: 0;
  transition: opacity 0.5s
}

.projects-thumbnails.show {
  opacity: 1;
  transition: opacity 0.5s
}

.placeholder {
  opacity: 0;
  pointer-events: none;
}


/* PROJECT SECTION */
section.project.hide {
  opacity: 0;
  transition: opacity 0.2s !important;
}

section.project.show {
  opacity: 1;
  transition: opacity 0.2s !important;
  overflow-y: auto;
}

section.project {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  padding-bottom: calc(18px + 4vw);
}

.project .image {
  height: auto;
  display: flex;
  justify-content: center;
}

.image .imageSlider {
  width: 96vw;
  height: 96vw;
}

.project .text {
  padding: calc(2vw);
  height: 30%;
  height: 100%;
}

h4.project-title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500 !important;
  font-size: calc(20px + 2.5vw);
  line-height: calc(25px + 2.5vw);
  margin-bottom: calc(5px + 0.5vw);
}

@media only screen and (min-width: 768px) {
  section.project {
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .project .image {
    flex-direction: column;
    justify-content: flex-start;
  }

  .image .imageSlider {
    padding: calc(12px + 2vw);
    width: 35vw;
    height: 35vw;
    max-width: 65vh;
    max-height: 65vh;
  }

  .project .text {
    padding: calc(8px + 1.5vw);
    height: auto;
    padding-left: 0;
  }

}