.project-page{
  width: 100vw;
  height: 100vh;
}

.hide{
    opacity: 0;
  }
  
.show{
  opacity: 1;
  transition: opacity 3s
}

.project-page section.title{
  align-items: flex-start;
  transform-origin: top left;
  transition: transform 0.3s;
}

.project-page section.title.huge {
  transform-origin: top left;
  transform: translateX(50vw);
  transition: transform 0.3s;
}

.title h1{
  transform-origin: top left;
  transition: transform 0.3s;
}

.huge.title h1,
.huge.title button{
  transform-origin: top left;
  text-align: left;
  transform: translateX(calc(-50% - 2vw));
  transition: transform 0.3s;
}

.project-page section.project-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media only screen and (min-width: 768px)
{ 

  .project-page section.project-menu{
    flex-direction: column;
    align-items: flex-start;
    justify-content : flex-start;
    height: 60vh;
    width: 25vw;
    
  }
}

.line.under.huge {
  transform-origin: center center;
  transform: translateY(calc(7vh*1.5));
  transition: transform 0.3s;
}


.project-page section.main{
  align-items:flex-start;
  
}

@media only screen and (min-width: 768px)
{ 
  .project-page section.main.huge{
    flex-direction: column;
        align-items: center;
    justify-content: space-between;
  }

  .project-page section.main{
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-start;
    padding-left:0;
    
  }
  .project-page .line {
    position: absolute;
    width: 96vw;
    left: 2vw;
  }

  .project-page .line.under {
    bottom:50%;
    left: calc(23vw - 48vh);
    width:96vh;
    height:0;
    transform: rotate(90deg) ;
    z-index:2;
  }

  .project-page .huge.line.under{
    position: relative;
    bottom:auto;
    left: auto;
    width:100%;
    transform: rotate(0deg) translateY(calc(43vh));
    width:100%;
  }

}


div.categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: calc(12px + 2vw);
  align-items: flex-start;
  transform-origin: top left;
  transition: transform 0.3s;
  width: 50vw;
}



div.categories.huge {
  transform-origin: top left;
  transform: scale(2) translateX(23vw);
  transition: transform 0.3s;
  /* width: calc(100vw / 4); */
}

@media only screen and (min-width: 768px)
{ 
  div.categories {
    padding-top: calc(12px + 2vw);
    width: 100%;
  }
  div.categories.huge {
    transform: scale(2) translateX(6.5vw);
  }
}


.huge.categories h4{
  transform-origin: top left;
  transform: translateX(calc(-50%));
  transition: transform 0.3s;
}



.projects-thumbnails {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:90%
}

@media only screen and (min-width: 768px)
{ 
  .projects-thumbnails {
    padding-top: calc(6px + 1vw);
    padding-left: calc(6px + 1vw);
    height:auto;
  }
}

.projects-thumbnails.hide{
  opacity: 0;
  transition: opacity 0.5s
}

.projects-thumbnails.show{
opacity: 1;
transition: opacity 0.5s
}

.placeholder{
  opacity: 0;
  pointer-events: none;
}

section.project {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  /* overflow:hidden; */
}

@media only screen and (min-width: 768px)
{ 
  section.project{
    flex-direction: row;
    align-items:flex-start;
    justify-content : center;
    height: 100%;
    width: 100%;
  }
}

.project .image  {
  /* background: rgba(255, 0, 0, 0.288); */
  height: auto;
  display: flex;
  justify-content: center;
}

 @media only screen and (min-width: 768px)
{ 
  .project .image {
    /* width: 70vh; */
    /* height: 70vh; */
    flex-direction: column;
    justify-content: flex-start;
  }
}

.image .imageSlider {
  width: 70vw;
  height: 70vw;
  max-width: 45vh;
  max-height: 45vh;
  padding: 0;
 }

 @media only screen and (min-width: 768px)
{ 
  .image .imageSlider{
    padding: calc(12px + 2vw);
    width: 35vw;
    height: 35vw;
    max-width: 65vh;
    max-height: 65vh;
  }
}

.project .text{
  padding: calc(12px + 2vw);
  height: 30%;
  overflow-y: auto;
  height: auto;
}

@media only screen and (min-width: 768px)
{ 
  .project .text{
    height: auto;
    padding-left: 0;
  }
}


.hidden.project{
  visibility:hidden
}


