#app {
  position: absolute;
  width: 100vw;
  height: 100%;
  display: flex;
}

#app.blurred {
  backdrop-filter: blur(0.7rem);
  transition: backdrop-filter 7s;
}

.app {
  height: 100%;
}

section {
  padding: 1vh 2vw;
}

.background{
  height: 100%;
  display: flex;
  flex-direction: column;
}

section.title {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.main {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  section.title {
    height: 15%;
  }

  section.main {
    height: 85%;
  }
}

.line {
  position: relative;
  width: 100%;
  height: 0;
  transition: transform 0.3s;
}

.line:before {
  content: " ";
  display: block;
  height: 1px;
  top: 50%;
  right: 0;
  background: var(--light-color);
}

.hide .line:before {
  transform: scalex(0)
}

.show .line:before {
  transform-origin: center;
  transform: scalex(1);
  transition: transform 2s;
}

.background.notLoaded{
  height: 100%;
  width: 100%;
  background-color: var(--background);
  transition:  background-color 2s;
}

.background.loaded{
  background-color: transparent;
  transition:  background-color 2s;
}


.loadingAnim.notLoaded {
  opacity : 1 ;
  transition: opacity 0.5s
}

.loadingAnim.loaded {
  opacity : 0 ;
  pointer-events:none;
  transition: opacity 0.5s
}

.loading-text{
  position:absolute;
  top:80vh;
  width: 100%;
}

.loading-text p{
  text-align: center
}