:root {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 100;

  color-scheme: light dark;
  --dark-color: rgb(1, 0, 39);
  --light-color: rgba(255, 255, 255, 0.945);
  --background: #4742b1;
  color: var(--light-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html,
body {
  overflow: hidden;
  touch-action: none;
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  /* min-height: 100vh; */
  cursor: default;
}

body.grab {
  cursor: grab;
}

body.grab.grabbing {
  cursor: grabbing;
}

h1 {
  font-weight: 600;
  font-size: calc(30px + 3.5vw);
  line-height: calc(35px + 4vw);
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

h4 {
  font-weight: 200;
  font-size: calc(14px + 1.1vw);
  /* line-height: min(calc(20px + 1.4vw), calc(5px + 4vh)); */
  white-space: break-spaces;
  margin: 0;
  padding: 0;
}

h5 {
  font-weight: 400;
  font-size: calc(11px + 0.8vw);
  white-space: break-spaces;
  margin: 0;
  padding: 0;
}

p {
  font-weight: 300;
  font-size: calc(10px + 0.7vw);
  /* line-height: calc(11px + 1.1vw); */
  margin: 0;
  padding: 0;
}

a {
  font-weight: 400;
  font-size: calc(10px + 0.7vw);
}

.navButton .navText {
  font-weight: 400;
  font-size: calc(12px + 0.5vw);
  margin: 0;
  padding: 0;
}

.dark .navButton .navText {
  color: var(--dark-color);
  transition: color 1s
}

.light .navButton .navText {
  color: var(--light-color);
  transition: color 1s
}

.navButton {
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.textButton {
  cursor: pointer !important;
  color: inherit !important;
  text-decoration: none !important;
  border-bottom: 1px solid rgba(255, 0, 0, 0);
  transition: border 0.3s;
}

.textButton:hover {
  border-bottom: 1px solid;
  border-color: inherit;
  transition: border 0.5s;
}

.textButton.active {
  color: rgb(110, 42, 165) !important;
}

button {
  background: transparent;
  font-family: inherit;
  font-size: calc(10px + 0.7vw);
  font-weight: 300;
  /* font-style: italic; */
  color: inherit;
  text-align: center;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  padding: 0;
  border-bottom: 1px solid rgba(255, 0, 0, 0);
  transition: border 0.3s;
}

button:hover {
  border-bottom: 1px solid;
  border-color: inherit;
  transition: border 0.5s;
}

.webgl {
  position: absolute;
  filter: blur(0rem);
  transition: filter 0.3s;
  width: 100vw;
  height: 100vh;
  top: 0;
  overflow: hidden;
}


@media only screen and (min-width: 768px) {


  h5 {
    font-size: calc(9px + 0.7vw);
  }
  
  p {
    font-size: calc(7px + 0.6vw);
  }
  
  a {
    font-size: calc(7px + 0.6vw);
  }
  
  .navButton .navText {
    font-size: calc(9px + 0.7vw);
  }

  button {

    font-size: calc(9px + 0.7vw);
  }
}